.content-header{
    font-family: 'Mukta', sans-serif;
}
.content-header-form{
    font-family: 'Mukta', sans-serif;
}
.content-container{ 
    font-family: 'Mukta', sans-serif;
}
.content-container-form{ 
    font-family: 'Mukta', sans-serif;
}
.full-with-field{
    font-family: 'Mukta', sans-serif;
}