<div class="content-header-form">
        <div style="display: flex; align-items: center">
                <h3 style="flex-grow:1">
                  Register New Member
                </h3>
                <button mat-mini-fab color="accent"  [disabled]="profileForm.invalid" (click)="onSubmit()">
                          <mat-icon><svg-icon src='../../../assets/mat-icons/send.svg' [svgStyle]="{ 'width.px':24 }"></svg-icon></mat-icon> 
                </button>
             </div>
        <div class="switch-section">
           
            
        </div>
    </div>
<div class="content-container-form">
        <form class="add-new-section" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <div class="new-form-section"> 
                    <mat-form-field class="full-with-field">
                            <input matInput placeholder="Full Name" class="form-control" formControlName="name" type="text" >
                            <mat-error *ngIf="name.errors?.required&&name.touched">
                                Name is required
                         </mat-error>
                         <mat-error *ngIf="name.errors?.minlength && name.touched">
                                Invalid name 
                        </mat-error>
                    
                        </mat-form-field>
          
                    <mat-form-field class="full-with-field">
                        <span matPrefix>+263 &nbsp;</span>
                        <input matInput placeholder="Cell" class="form-control" formControlName="cell" type="text" >
                        <mat-icon matSuffix>phone_android</mat-icon>
                        <mat-error *ngIf="cell.invalid && cell.touched">
                            Invalid Cell number 
                       </mat-error>
                
                
                </mat-form-field>
                <mat-form-field class="full-with-field">
                        <textarea rows="2" matInput placeholder="Address" class="form-control" formControlName="address" type="text" >
                                </textarea>
                        <mat-error *ngIf="address.errors?.minlength && address.touched">
                            Invalid address
                        </mat-error>         
                 </mat-form-field> 
                    <mat-form-field class="full-with-field">
                        <mat-select placeholder="Gender" formControlName="gender">
                            <mat-option *ngFor="let gn of genderValues" [value]="gn.value">
                                 {{gn.viewValue}}
                             </mat-option>
                        </mat-select>
                        <mat-error *ngIf="gender.invalid && gender.touched">
                            Invalid Gender 
                       </mat-error>
                   </mat-form-field> 
                    <mat-form-field class="full-with-field">
                            <input matInput placeholder="Year Of Birth" class="form-control" formControlName="yob" type="number" >
                            <mat-error *ngIf="yob.invalid && yob.touched">
                                Invalid Year of Birth
                           </mat-error>
                 </mat-form-field>
                    <mat-checkbox   formControlName="is_married">Is Married</mat-checkbox>  
                    <mat-form-field class="full-with-field">
                       <input matInput placeholder="Proffession" class="form-control" formControlName="proffession" type="text" >
                    </mat-form-field>
                    <mat-form-field class="full-with-field">
                        <input matInput placeholder="Position" class="form-control" formControlName="position" type="text" >
                   </mat-form-field>
            </div>
            </form>
</div>

<div class="content-footer">
                <div class="fab-section">
                      
                </div>
                    
            </div>
        