<div class="content-screen">
                <div class="content-header">
                                <mat-card-header>
                                        <div mat-card-avatar class="example-header-image">
                                                <svg-icon src='../../../assets/mat-icons/money-bag.svg' [svgStyle]="{ 'width.px':36 }"></svg-icon>

                                        </div >
                                        <mat-card-title><span class="cluster-poster-label">{{(fundraising| async)?.title}} </span> </mat-card-title>
                                        <mat-card-subtitle>{{(fundraising| async)?.group_name}}</mat-card-subtitle>
                                </mat-card-header>
                        
                            <div class="switch-section">
                                    <b>TARGET : &nbsp; </b> {{(fundraising| async)?.target}} &nbsp; 
                                    <b>Due : &nbsp; </b> {{due}} 
                                
                            </div>
                            <div class="summary-section">
                                        <div class="switch-section">
                                           
                                                        <h3>2019</h3>
                                                      
                                        </div>       
                            </div>
                        </div>
                        <div class="content-container">
                                <mat-tab-group mat-stretch-tabs  (selectedIndexChange)="switchTab($event)">
                                        <mat-tab>
                                                <ng-template mat-tab-label>
                                                       <span class="">Raised</span>
                                                </ng-template>
                                                
                                                <div class="switch-section">
                                                        <mat-form-field class="filter-dates">
                                                                <input matInput [matDatepicker]="picker3" (dateChange)="recSetStartDate($event)" placeholder="From" disabled>
                                                                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                                                <mat-datepicker  touchUi #picker3 disabled="false"></mat-datepicker>
                                                              </mat-form-field> &nbsp;&nbsp;&nbsp;&nbsp;
                                                              <mat-form-field class="filter-dates" >
                                                                    <input matInput [matDatepicker]="picker4" (dateChange)="recSetEndDate($event)" placeholder="To" disabled>
                                                                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                                                    <mat-datepicker disabled="false"  touchUi #picker4></mat-datepicker>
                                                              </mat-form-field>
                                
                                                </div>
                                                <br/>
                                                <b>Total : </b>  {{funds_total}}
                                                <br/><br/>
                                                <div class="member-item "  *ngFor="let item of receipts">
                                                   <div class="member-item-top">
                                                           <div class="member-item-name"> {{item.amount}}</div>
                                                           <div class="member-item-tag">{{item.payment_method}}</div>
                                                   </div>
                                                   <div class="member-item-bottom">
                                                           <div class="member-item-gender"> {{item.date}} </div>
                                                           <div class="member-item-cell"> {{item.title}}</div>
                                                   </div>
                                               </div>
                                            
                                        </mat-tab>
                                        <mat-tab>
                                                <ng-template mat-tab-label>
                                                    
                                                       <span class="">Pledged</span>
                                                </ng-template>
                                                <div class="switch-section">
                                                        <mat-form-field class="filter-dates">
                                                                <input matInput [matDatepicker]="picker" (dateChange)="pleSetStartDate($event)" placeholder="From" disabled>
                                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                                <mat-datepicker  touchUi #picker disabled="false"></mat-datepicker>
                                                              </mat-form-field> &nbsp;&nbsp;&nbsp;&nbsp;
                                                              <mat-form-field class="filter-dates" >
                                                                    <input matInput [matDatepicker]="picker2" (dateChange)="pleSetEndDate($event)" placeholder="To" disabled>
                                                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                                                    <mat-datepicker disabled="false"  touchUi #picker2></mat-datepicker>
                                                              </mat-form-field>
                                                                 
                                
                                                </div>
                                                <br/>
                                                <b>Total :</b>  {{pledges_total}}
                                                <br/><br/>
                                                <div class="member-item "  *ngFor="let item of pledges" (click)="gotToPayPledge(item.id)">
                                                   <div class="member-item-top">
                                                           <div class="member-item-name"> {{item.amount}}</div>
                                                           <div class="member-item-tag" (click)="gotToPayPledge(item.id)">Pay</div>
                                                   </div>
                                                   <div class="member-item-bottom">
                                                           <div class="member-item-gender"> {{item.date}} </div>
                                                           <div class="member-item-cell"> {{item.title}}</div>
                                                   </div>
                                               </div>
                                            
                                        </mat-tab>
                              </mat-tab-group>       
                          
                        
                           
                           <div *ngIf="isMine" class="detail-edit">  
                                <a  (click)="cancel()">                  
                                    <mat-icon>
                                        <svg-icon src="../../assets/mat-icons/trash.svg" [svgStyle]="{ 'width.px':24 }"></svg-icon>
                                       
                                    </mat-icon>
                                
                                </a>       
                           </div>
                        </div>
                        
                        <div class="content-footer">
                              
                             <div *ngIf="isMine" >  
                                <div class="fab-section">
                                        <a mat-fab  (click)="gotToAdd()">
                                                <mat-icon>add</mat-icon>
                                        </a>
                                </div>
                             </div>          
                        </div>
</div>

      