


         <router-outlet *ngIf="!delayed">

        </router-outlet>

        <div *ngIf="delayed" class="delayed-box">
                <mat-card [class.mat-elevation-z12]="true" class="delay-not"> <b>Loading Taking Too Long!</b> <br/>
                       
                        <div style="font-size:2rem">Switch off your data</div>
                        <span style="font-size:0.8rem">if this is not first time installation</span><br/>
                        <span style="font-size:0.8rem"> and restart app, then switch data back on</span>
                </mat-card>
               
              
             
        </div>

        <ngx-loading [show]="loading && !delayed" ></ngx-loading>